/* Top Bar */
.topbar {
  padding: 7px 0;
  background-color: #f9f9f9;
}

.topbar .tb-menu {
  list-style: none;
  display: inline-flex;
  margin: 0;
}

.topbar .tb-menu li .tb-dropdown-icon{
  width: 10px;
  margin-left: 5px;
}

.topbar .topbar-icon {
  width: 20px;
  margin-right: 10px;
}

.topbar .tb-menu li a{
  color: #282828;
  font-size: .8rem;
  padding-left: 25px;
}

.topbar .tb-menu li a:hover {
  color: #DC4D04;
}

.topbar p{
  margin: 0;
  vertical-align: middle;
}

.topbar p a{
  color: #282828;
  font-weight: 500;
  font-size: .8rem;
}

.topbar p a:hover {
  color: #DC4D04;
}

/* Navbar */

.navbar {
  padding: 15px 0;
  background-color: #FFFFFF;
}

.nav-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  width: 120px;
}

.logo img {
  height: 50px;
}

.main-menu-icon-wrap {
  display: flex;
  justify-content: center;
  width: 100px;
  padding-right: 10px;
}

.main-menu-icon-wrap .main-menu-icon {
  margin: 0 auto;
}

.search {
  width: 51%;
  position: relative;
  margin: 0 auto;
}

.search input {
  width: 85%;
  height: 44px;
  padding-left: 25px;
  padding-right: 60px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #DC4D04;
  border-radius: 20px 0 0 20px;
  background: transparent;
  color: #282828;
  outline: none;
}

.search button {
  width: auto;
  height: 44px;
  position: absolute;
  top: 50%;
  right: 1px;
  translate: 0 -50%;
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
  padding: 0 25px;
  height: 44px;
  border-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #DC4D04;
}

.nav-menu {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  margin:0;
  color: #282828;
}

.nav-menu li {
  font-size: .9rem;
  font-weight: 600;
}

.nav-menu li .navbar-btn {
  width: 120%;
  font-weight:600;
  background-color: #DC4D04;
  border-color: #DC4D04;
}

.nav-menu li a{
  color: #282828;
  padding: 0 0 0 25px;
}

.nav-menu li span{
  margin-left: 5px;
}

.mobile-search {
  display: none;
}

.nav-icon {
  color: #282828;
}

/* Navbar dropdown */

.nav-menu li  .dropdown-icon {
  width: 12px;
  margin-left: 7px;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 40px rgb(0 0 0 / 20%);
  /* list-style: none; */
  padding: 1.5rem 0 1.5rem;
  z-index: 2;
  transform: translateY(8%);
  border:none;
  top: 10px;
}

.custom-top {
  top: 10px!important;
  right: -50px!important;
}

.dropdown-menu li {
  font-size: .95rem;
  margin-bottom: 15px;
}

.dropdown-menu li:last-child {
  margin-bottom: 0;
}

.dropdown-menu li a{
  padding:3px 50px 3px 20px;
  color: #282828;
}

.dropdown-menu .dropdown-item .nav-icon{
  margin-right: 10px;
}

.dropdown-menu .dropdown-item:hover {
  background: #f9f9f9;
  font-weight: 500;
}

.dropdown-menu .dropdown-item span:hover {
  color:initial;
}

.dropdown-menu li span{
  font-size: .8rem;
  color: #282828;
  font-weight: 400;
}


@media (width < 768px) {
  .navbar .nav-menu li span {
    display: none;
  }
  .navbar .nav-menu li:last-child {
    display: none;
  }
  .mobile-search {
    display: block;
  }
  .main-menu-icon-wrap {
    width:60px;
    order: -1!important;
    margin-right: 10px;
  }
  .main-menu-icon {
    margin-top: 5px!important;
  }
  .logo img {
    height: 40px;
    margin-top: -6px;
  }
  .topbar {
    display: none;
  }

  .custom-top {
    right: 0!important;
  }

}

@media (width < 992px) {
  .mobile-search {
    display: block;
  }
  .search {
    display: none;
  }
}