footer {
    padding: 50px 0 0;
    background-color: #1A1A1A;
}

.footer-btm {
    padding: 15px 0;
    background-color: #000000;
}

.fb-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fb-wrap p {
    margin: 0;
    padding: 0;
    font-size: .8rem;
    color: #FFFFFF;
    opacity: .6;
}

.fb-wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
} 

.fb-wrap ul li {
    display: inline-block;
    padding: 0;
    padding-left: 25px;
    font-size: .8rem;
}

.fb-wrap ul li a {
    color: #FFFFFF;
    opacity: .6;
}

.fb-wrap ul li a:hover {
    text-decoration: underline;
}
.footer-list h5{
font-size: 14px;
font-weight: bolder;
}
.footer-list a{
    color: #fff;
    font-size: 12px;
}
.footer-list li a:hover {
    text-decoration: underline;
}
.footer-list{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 40px;
    color: #fff;
    
}
.footer-list li{
list-style: none;
margin: 15px 0;

}
.footer-list ul{
padding: none !important;
margin: none !important;

}
.footer-list h5{
font-weight: 700;
font-size: 22px;
color: #FFFFFF;
}
@media (width < 768px)  {
    .fb-wrap ul {
        display: none;
    }
}
@media (max-width: 1200px) {
     .footer-list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    text-align: center;
    
}
.footer-list h5{
    margin: 0;
    font-size: 18px;
}

}