.allCategories-container {
  padding: 40px;
}
.categories-crumb{
    margin-left: 30px;
}
.categories-cat-list{
 
}
.allCategories-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin: 40px;
}
.categories-card-img {
  background: #e5e6e3;
  border-radius: 8px 8px 0px 0px;
  width: 277px;
  height: 283px;
}
.categories-name {
  font-size: 14px;
  line-height: 25px;
font-weight: 700;
  color: #000000;
}
.categories-card-info p{
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #5C5C5C;
}
.product-cat-list .product-cat:hover {
  border-color: #DC4D04;
  color:#DC4D04 !important ;
}

